body {
    background-color: #4a919e;
}

.pdremove {
    padding: 0px;
}

.navbar {
    background-color: #212e53;
}

.navbar-brand {
    color: #bed3c3;
    text-decoration: none;
}
.navbar-brand:visited
{
    color: #bed3c3;
    text-decoration: none;
}
.navbar-brand:hover
{
    color: #bed3c3;
    text-decoration: none;
}
.navbar-brand:active
{
    color: #bed3c3;
    text-decoration: none;
}

.jumbotron {
    background-color: #ce6a6b;
    color: #212e53;
}

h4 {font-weight: bold;}

#embolden {
    font-weight: 500;
}

.card{
    border:none;
    width: 80%;
    margin-bottom: 3%
}

.card-header {
    background-color: #212e53;
    color: #bed3c3;
    font-weight: bold;
}

.card-body {
    background-color: #bed3c3;
    color: #212e53;
}

#submission {
    background-color: #bed3c3;
    color: #212e53;
    padding-left: 0%;
    border-left: 0%;
}

.tupper {
    position: relative;
    min-height: 100vh;
}

.ware {
    padding-bottom: 2rem;
}

#booty {
    background-color: #212e53;
    color: #bed3c3;
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    height: 2rem;
}

/* Back for when it was a text input */
/* #dateInput::placeholder{
    color: #4a919e;
} */

#dateInput, #comboInput, #shapeInput {
    color: #212e53;
    border: #212e53;
}

/* Don't know why it removes shapeInputs shadow only if it isn't told focus or active, but is included */
#dateInput:focus, #comboInput:focus, #shapeInput, #submission:focus {
    box-shadow: none;
}

#dateInput:active, #comboInput:active, #shapeInput, #submission:active {
    box-shadow: none;
}

option:focus, option:hover, option:active {
    color:green;
    background-color: red;
}

#trouble {
    width: 80%;
    overflow: auto;
}

.table>tbody>tr>td,
.table>thead>tr>th {
    border:none;
    color: #212e53;
    font-weight: 500;
}

.table>thead>tr>th {
    font-size: 1.2rem;
}

table>tbody>tr:nth-child(2n+1)>td{
    background: #ce6a6b;
}

.table>tbody>tr:hover>td {
    background: #bed3c3;
}